<h2> Assessment</h2>
<ul class="assessment-result">
  <% _.each(assessment,function(value,questionKey){ %>
    <li>
      <label><%=value.question%></label>
      <div class='assessment-option-wrap'>
        <% _.each(value.answers,function(answer,key){ %>
          <span class='assessment-option'>
            <input type="radio" class="assessmentOptions" id="<%=key%>" name ="option_<%=questionKey%>"/>
            <span><%=answer%></span>
          </span>
        <% }) %>
      </div>
      <div class="clearfix"></div>
      <button class="saveOption btn btn-primary btn-sm saveBtn_<%=questionKey%>"  data-id= <%=questionKey%>>Save</button>
  <% }) %>
</ul>

