<h2> Assessment</h2>
<ul class="assessment-result">
  <% _.each(assessment,function(value,questionKey){ %>
    <li><h4><%=value.question%></span></h4>
      <% _.each(value.answers,function(answer,key){ %>
        <div class='assessment-option'>
          <input type="radio" class="assessmentOptions" id="<%=key%>" name ="option_<%=questionKey%>"/>
          <label><%=answer%></label>
        </div>
      <% }) %>
    <div class="clearfix"></div>
    <button class="saveOption btn btn-primary saveBtn_<%=questionKey%>"  data-id= <%=questionKey%>>Save</button>
  <% }) %>
</ul>

